# core web framework
fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.12

# config & validations
pydantic==2.8.2
pydantic-settings==2.4.0

# logging
structlog==24.4.0

# dev tooling
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-cov==5.0.0
ruff==0.6.4
httpx==0.27.2

# AI/ LLM
google-cloud-aiplatform==1.69.0
google-generativeai==0.8.1
langchain==0.3.3
langchain-core==0.3.10
langchain-google-vertexai==2.0.4
langchain-community==0.3.2

# vector store
chromadb==0.5.15

# development & packaging
setuptools==79.0.1

# document parsing
pypdf==4.3.1
python-docx==1.1.2
unstructured==0.15.12